:root {
    --clr-grey-50: hsl(189, 47%, 97%);
    --clr-grey-200: hsl(185, 41%, 84%);
    --clr-grey-400: hsl(184, 14%, 56%);
    --clr-grey-500: hsl(186, 14%, 43%);
    --clr-green-500: hsl(172, 67%, 45%);
    --clr-grey-900: hsl(183, 100%, 15%);
    --clr-white-100: hsl(0, 100%, 100%);
    --clr-red-300: hsl(3, 100%, 71%);
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    background-color: var(--clr-grey-200);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--clr-grey-500);
}